@charset "UTF-8";
/* Variables CSS */
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;500;600;700&display=swap");
:root {
  --primary-color:#4d339b;
  --secondary-color:#3e226e;
  --text-color:#ffffff;
  --highlight-color:rgb(100, 255, 100);
}

.index-body {
  background-image: url("../imagenes/fondito.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

a, h1, h2, h3, h4, h5 {
  font-family: "Outfit", sans-serif;
  font-weight: bold !important;
  margin-top: 10px !important;
  font-optical-sizing: auto;
}

.navbar {
  background-color: var(--primary-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
}
.navbar a {
  color: var(--text-color);
  text-decoration: none;
  padding: 20px 20px;
  margin-right: 10px;
}

.footer {
  background-color: var(--primary-color);
  color: var(--text-color);
  text-align: center;
  height: 130px;
  position: relative;
  bottom: 0;
  width: 100%;
  margin-top: 100px;
}

.social-media {
  position: absolute;
  bottom: 10px;
  right: 50px;
  height: 80px;
}
.social-media img {
  width: 32px;
  height: 32px;
  margin-left: 10px;
}

.metodos-de-pagos {
  background-color: var(--primary-color);
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
}
.metodos-de-pagos img {
  height: 40px;
}

.lista-pagos {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0px 15px;
  flex-wrap: wrap;
  gap: 10px;
}
.lista-pagos li {
  padding: 5px;
}

.copy {
  text-align: center;
  margin: 10px auto;
}

/* ESTILOS DE INDEX */
body {
  font-family: "Outfit", sans-serif;
  background-color: var(--secondary-color);
  color: var(--text-color);
  margin: 0;
  height: 100%;
  overflow-x: hidden;
}

.index-page {
  background-image: url("../imagenes/artisan.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow-x: hidden;
}

.logo img {
  width: 70px;
  height: 70px;
}

.hero {
  text-align: center;
  padding: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 456px;
  margin-top: 80px;
}
.hero img {
  width: 80%;
  max-width: 300px;
}
.hero button {
  background-color: var(--primary-color);
  color: var(--text-color);
  border: none;
  padding: 15px 30px;
  font-size: 18px;
  cursor: pointer;
}
.hero button:hover {
  background-color: var(--secondary-color);
}
.hero button a {
  color: var(--text-color);
  text-decoration: none;
}

.video-container {
  color: var(--highlight-color);
  text-align: center;
  padding: 20px 20px;
}

.video-container h2 {
  font-size: 200%;
  text-shadow: var(--highlight-color) 1px 0 20px;
  margin-bottom: 20px;
}

.video {
  box-shadow: var(--highlight-color) 1px 0 20px;
}

/* ESTILOS TIENDA */
.carrito {
  position: absolute;
  top: 10px;
  right: 10px;
  display: flex;
  align-items: center;
}

.carrito img {
  width: 30px; /* Ajusta el tamaño de la imagen según tus necesidades */
}

.carrito span {
  margin-left: 5px;
  font-size: 14px;
}

.card-container {
  cursor: pointer;
}

#productostien {
  color: var(--highlight-color);
  margin-top: 25px;
  text-shadow: rgb(0, 0, 0) 1px 0 10px;
  font-weight: bold;
}

h1, h4, h3 {
  text-align: left;
  padding: 0 200px 5px;
  margin: 0;
}

h4, h3 {
  color: black;
}

.card {
  flex: 0 0 15%;
  border: none;
  box-shadow: rgb(0, 0, 0) 1px 0 10px;
  transition: transform 0.3s ease;
  margin: 0 auto;
  max-width: 500px;
}

.card-body {
  padding: 10px;
}

.card:hover {
  transform: scale(1.05);
}

.card-title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

.card-text {
  font-size: 14px;
  line-height: 1.5;
  color: #000000;
}

.card-footer {
  display: flex;
  justify-content: center;
  align-items: center;
}
.card-footer button {
  font-size: 14px;
  background-color: var(--primary-color);
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.card-footer button:hover {
  background-color: var(--highlight-color);
}
.card-footer button a {
  color: inherit;
  text-decoration: none;
}

/* ESTILOS NOSOTROS */
.nosotrosmain {
  text-align: center;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
}

#titulosnosotros {
  color: var(--highlight-color);
  text-shadow: rgb(0, 0, 0) 1px 0 10px;
  font-weight: bold;
}

#somos {
  color: black;
}

#gracias {
  color: black;
  font-weight: bold;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  object-fit: cover;
  margin-right: 15px;
}

.image img {
  box-shadow: 1px 0 10px rgb(0, 0, 0);
  border: 8px solid var(--highlight-color);
  max-width: 100%;
  max-height: 100%;
  width: 99%;
  height: 99%;
}

/* ESTILOS CONTACTO */
#tienespreguntas {
  color: var(--highlight-color);
  text-shadow: rgb(0, 0, 0) 1px 0 10px;
  font-weight: bold;
}

.contactopreg {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #000000;
}

#form {
  background-color: #ffffff;
  padding: 5rem;
  border-radius: 50px;
  box-shadow: 1px 0 10px rgb(0, 0, 0);
  width: 70%;
  margin: 5% auto;
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
}

label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
  color: #000000;
}

input {
  background-color: #f2f2f2;
  border: 1px solid #cccccc;
  font-size: 16px;
  padding: 0px;
  width: 100%;
}

textarea {
  background-color: #f2f2f2;
  border: 1px solid #cccccc;
  font-size: 16px;
  padding: 10px;
  width: 100%;
}

#enviar {
  background-color: var(--primary-color);
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-weight: bold;
}
#enviar:hover {
  background-color: var(--highlight-color);
}

#contacto {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: -20%;
  margin-bottom: 20%;
}

/* ESTILOS FAQS */
section {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
}

.question-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 3px 20px;
}

#pf, #ofrecemos, #hechosmouse, #garantia, #envios {
  color: var(--highlight-color);
  text-shadow: rgb(0, 0, 0) 1px 0 10px;
  font-weight: bold;
  margin-bottom: -20px;
}

#pf {
  text-align: center;
}

#ofrecemos, #garantia {
  text-align: left;
  margin-left: 250px;
}

#ofrecemoscsh, #garantia2 {
  text-align: left;
  margin-left: 100px;
  color: black;
}

#hechosmouse, #envios {
  text-align: right;
  margin-right: 250px;
}

#hechosmousep, #envios2 {
  text-align: right;
  margin-right: 200px;
  color: black;
}

/* Media Queries */
@media screen and (max-width: 768px) {
  .navbar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 1;
  }
  .lista-pagos {
    padding: 0%;
  }
  .hamburger-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    padding: 10px;
    padding-left: 90%;
    padding-top: 0px;
  }
  .line {
    width: 25px;
    height: 3px;
    background-color: #ffffff;
    margin: 3px;
    transition: transform 0.3s ease;
  }
  .navbar .hamburger-menu:hover .line {
    background-color: #ffffff;
  }
  .navbar .hamburger-menu.open .line:nth-child(1) {
    transform: translateY(5px) rotate(-45deg);
  }
  .navbar .hamburger-menu.open .line:nth-child(2) {
    opacity: 0;
  }
  .navbar .hamburger-menu.open .line:nth-child(3) {
    transform: translateY(-5px) rotate(45deg);
  }
  .navbar .nav-links {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 20px;
    background-color: var(--primary-color);
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
  }
  .navbar.open .nav-links {
    display: flex;
  }
  .logo img {
    width: 150px;
    height: 150px;
  }
  .footer {
    height: auto;
  }
  .social-media {
    position: static;
    margin-top: 10px;
  }
  .metodos-de-pagos {
    flex-direction: column;
    align-items: center;
  }
  .metodos-de-pagos img {
    margin-bottom: 10px;
  }
  .card-producs {
    margin-right: 0px !important;
    margin-left: 0px !important;
  }
  .card {
    flex: 0 0 45%;
  }
  h1, h4, h3 {
    padding: 0 100px 5px;
  }
  .gallery {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    object-fit: cover;
    margin-right: 15px;
  }
  .image img {
    box-shadow: 1px 0 10px rgb(0, 0, 0);
    border: 4px solid var(--highlight-color);
    max-width: 100%;
    max-height: 100%;
    width: 99%;
    height: 99%;
  }
  .video-container {
    padding: 10px;
  }
  .video-container h2 {
    font-size: 25px;
  }
  .video {
    width: 100%;
    height: 300px;
  }
  #ofrecemos, #garantia {
    margin-left: 50px;
  }
  #hechosmouse, #envios {
    margin-right: 50px;
  }
  #ofrecemoscsh, #garantia2 {
    text-align: left;
    margin-left: 50px;
    color: black;
  }
  #hechosmousep, #envios2 {
    text-align: right;
    margin-right: 50px;
    color: black;
  }
  #form {
    width: 50%;
  }
}/*# sourceMappingURL=styles.css.map */